@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

body {
  background-image: url(./fundo/imgFundo.jpg);
}

*{
  margin: 0;
  padding: 0;
}


.inicio{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fascinate Inline", system-ui;

  color:  rgb(37, 10, 99)

}

h1{
  text-align: center;
}

.boy {
  height: 20px;
  width: 10px;
  background: green;
  margin-top: 200px;
  position: relative;
 
  left: 0;  /* posição inicial */
}


.obstaculo{
  display: inline-block;
  height: 35px;
  width: 17px;
  background: red;
  margin-left: 100px;
}

.obstaculo2{
  display: inline-block;
  height: 80px;
  width: 17px;
  background: red;
  margin-left: 70px;
}

.obstaculo3{
  display: inline-block;
  height: 50px;
  width: 17px;
  background: red;
  margin-left: 50px;
}


.chao{
  background-image: linear gradient(to bottom, blue, white);
  border-bottom: solid 2px black;
}

.teclado{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  
}

button{
  margin-right: 10px;
  padding: 20px 40px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 15px;
}

@media (min-width: 100px) {

  button{
    margin-right: 15px;
    padding: 60px 70px;
    border-radius: 25px;
  }

}